.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
<<<<<<< HEAD
.black-nav {
 display : flex;
 background : black;
 width : 100%;
 color : white;
 padding-left : 20px;
}
div {
  box-sizing: border-box;
}
.list {
  text-align : left;
  padding-left : 20px;
  border-bottom : 1px solid grey;
}
=======

>>>>>>> 19c9084973e9e1e808b65f9ce3d321778a4a3445
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
